<article class="markdown-body">
    <h1 id="md-progress-circle"><a class="header-link" href="#md-progress-circle"></a>md-progress-circle</h1>

    <p><code>md-progress-circle</code> is a component for indicating progress
        and activity, matching the spec of
<a href="https://www.google.com/design/spec/components/progress-activity.html">Material Design Progress &amp; Activity</a>.</p>
    <h3
    id="progress-modes"><a class="header-link" href="#progress-modes"></a>Progress Modes</h3>
        <p>There are two modes:</p>
        <ol class="list">
            <li>Determinate - <code>&lt;md-progress-circle mode=&quot;determinate&quot;&gt;</code>
                <ul
                class="list">
                    <li>Indicates how long an operation will take when the percentage complete
                        is detectable.</li>
                    </ul>
            </li>
            <li>Indeterminate - <code>&lt;md-progress-circle mode=&quot;indeterminate&quot;&gt;</code> or <code>&lt;md-spinner&gt;</code>
                <ul
                class="list">
                    <li>Indicates the user must wait while something finishes when it’s not necessary
                        or possible to indicate how long it will take.</li>
                    </ul>
            </li>
        </ol>
        <p>Example:</p>
<pre class="hljs"><code><span class="hljs-tag">&lt;<span class="hljs-name">md-progress-circle</span> <span class="hljs-attr">mode</span>=<span class="hljs-string">"determinate"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"myValue"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">md-progress-circle</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">md-progress-circle</span> <span class="hljs-attr">mode</span>=<span class="hljs-string">"indeterminate"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">md-progress-circle</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">md-spinner</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">md-spinner</span>&gt;</span></code></pre>
        <h3
        id="theming"><a class="header-link" href="#theming"></a>Theming</h3>
            <p>All progress indicators can be themed to match your &quot;primary&quot;
                palette, your &quot;accent&quot; palette, or your &quot;warn&quot; palette
                using the appropriate class.</p>
            <p>Example:</p>
<pre class="hljs"><code><span class="hljs-tag">&lt;<span class="hljs-name">md-progress-circle</span> <span class="hljs-attr">mode</span>=<span class="hljs-string">"indeterminate"</span> <span class="hljs-attr">color</span>=<span class="hljs-string">"primary"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">md-progress-circle</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">md-progress-circle</span> <span class="hljs-attr">mode</span>=<span class="hljs-string">"indeterminate"</span> <span class="hljs-attr">color</span>=<span class="hljs-string">"accent"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">md-progress-circle</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">md-progress-circle</span> <span class="hljs-attr">mode</span>=<span class="hljs-string">"indeterminate"</span> <span class="hljs-attr">color</span>=<span class="hljs-string">"warn"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">md-progress-circle</span>&gt;</span></code></pre>
            <h3
            id="accessibility"><a class="header-link" href="#accessibility"></a>Accessibility</h3>
                <ul
                class="list">
                    <li>ARIA attributes are applied to the indicator defining the valuemin, valuemax
                        and valuenow attributes.</li>
                    </ul>
                    
<h3 id="upcoming-work"><a class="header-link" href="#upcoming-work"></a>Upcoming work</h3>

                    <ul class="list">
                        <li>Adding ARIA attribute for progressbar &quot;for&quot;.</li>
                    </ul>
                    
<h3 id="api-summary"><a class="header-link" href="#api-summary"></a>API Summary</h3>

                    <p>Properties:</p>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>color</code>
                                </td>
                                <td>`&quot;primary&quot;</td>
                                <td>&quot;accent&quot;</td>
                                <td>&quot;warn&quot;`</td>
                                <td>The color palette of the progress indicator</td>
                            </tr>
                            <tr>
                                <td><code>mode</code>
                                </td>
                                <td>`&quot;determinate&quot;</td>
                                <td>&quot;indeterminate&quot;`</td>
                                <td>The mode of the progress indicator</td>
                            </tr>
                            <tr>
                                <td><code>value</code>
                                </td>
                                <td>number</td>
                                <td>The current progress percentage for determinate indicators</td>
                            </tr>
                        </tbody>
                    </table>
</article>