<md-toolbar color="primary">
  <button (click)="start.toggle()">
    <md-icon class="toolbar-icon">menu</md-icon>
  </button>

  <img src="https://material.angular.io/microsite-ui/images/angular-logo-with-text.svg" />
  <span class="name">Material</span>

  <span class="fill-remaining"></span>

  <a href="https://github.com/angular/material2">Preview on Github</a>

</md-toolbar>
<md-sidenav-layout>
  <md-sidenav #start>
    <nav>
    </nav>
  </md-sidenav>
  <div class="content">
    <header class="hero-background">
      <section class="hero-container section--center mdl-grid mdl-grid--no-spacing">
        <div class="logo-container mdl-cell mdl-cell--6-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
          <img class="hero-image" src="https://material.angular.io/images/material-logo.png" alt="Angular Material">
        </div>
        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
          <h4 class="">Angular Material</h4>
          <h5 class="tagline">Material Design components for Angular 2 apps</h5>
          <button md-raised-button target="_blank" href="https://github.com/angular/material2">
            Preview on GitHub
          </button>
        </div>
      </section>
    </header>

    <section class="features-container">
      <div class="features-list">
        <h4>Sprint from Zero to App</h4>
        <p>Hit the ground running with comprehensive, modern UI components that work across web, mobile and desktop.</p>
      </div>

      <div class="features-list">
        <h4>Fast and Consistent</h4>
        <p>Finely tuned performance, because every millisecond counts. Fully tested across IE11 and current versions of Chrome, Edge, Firefox, and Safari.</p>
      </div>

      <div class="features-list">
        <h4>Versatile</h4>
        <p>Themable, for when you need to stay on-brand or just have a favorite color. Accessible and internationalized so that all users are welcome.</p>
      </div>

      <div class="features-list">
        <h4>Optimized for Angular</h4>
        <p>Built by the Angular team to integrate seamlessly with Angular 2.</p>
      </div>

      <div class="button-container">
        <button md-raised-button color="primary" href="https://github.com/angular/material2">
          Preview on GitHub
        </button>
      </div>
    </section>
  </div>
</md-sidenav-layout>
